<div class="container ">
    <div class="col-md-12">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <a class="cardlink" routerLink="/category">
                    <div class="card shadow-effect text-center">
                        <div class="card-body bg-theme-2 cb">
                            <h1>
                                <i class="fa fa-list-alt text-color-primary" aria-hidden="true"></i>
                            </h1>
                            <h1 class="text-color-primary">Category</h1>
                            <p>Category Card</p>
                            <i class="fa fa-cog fa-spin fa-3x fa-fw text-color-primary"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a class="cardlink" routerLink="/posts">
                    <div class="card shadow-effect text-center">
                        <div class="card-body bg-theme-2 cb">
                            <h1>
                                <i class="fa fa-file-image-o text-color-primary" aria-hidden="true"></i>
                            </h1>
                            <h1 class="text-color-primary">Posts</h1>
                            <p>Posts Card</p>
                            <i class="fa fa-cog fa-spin fa-3x fa-fw text-color-primary"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a class="cardlink" routerLink="/subscribers">
                    <div class="card shadow-effect text-center">
                        <div class="card-body bg-theme-2 cb">
                            <h1>
                                <i class="fa fa-file-image-o text-color-primary" aria-hidden="true"></i>
                            </h1>
                            <h1 class="text-color-primary">Subscribers</h1>
                            <p>Posts Card</p>
                            <i class="fa fa-cog fa-spin fa-3x fa-fw text-color-primary"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>