<div class="container ">
    <div class="row">
        <div class="col-md-12 ">
            <div class="card  shadow-effect bg-theme-2">
                <div class="card-body text-center">
                    <h1>
                        Add new Post
                    </h1>
                    <p>You Can add new post Here</p>
                    <br/>
                    <button class="btn btn-info newPost bg-theme-1 text-white" routerLink="/post/new">new Post</button>
                    <button class="btn btn-warning dashboard" routerLink="/">Back to Dashboard</button>
                </div>
            </div>
        </div>
    </div>
</div>