<div class="container ">
    <div class="row">
        <div class="col-md-12 ">
            <div class="card  shadow-effect bg-theme-2">
                <div class="card-body text-center">
                    <h1>
                        Add new Post
                    </h1>
                    <p>You Can add new post Here</p>
                    <br />
                    <button class="btn btn-info newPost bg-theme-1 text-white" routerLink="/post/new">new Post</button>
                    <button class="btn btn-warning dashboard m-2" routerLink="/home">Back to Dashboard</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-3 ">
        <div class="col-md-12">
            <div class="card shadow-effect ">
                <div class="card-body text-center">
                    <div class="table">
                        <table class="table fs-6">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>post Image</th>
                                    <!-- <th>excerpt</th> -->
                                    <th>category</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody class="text-center  ">
                                <tr *ngFor="let data of postData; let  i = index">
                                    <td width="10">{{i + 1}}</td>
                                    <td width="200px" height="200px"><img src="{{data.postImgPath}}"
                                            class="img-thumbnail"></td>
                                    <!-- <td width="200">{{data.excerpt}}</td> -->
                                    <td width="200">{{data.category.category}}</td>
                                    <td width="200">{{data.createdAt.toMillis() | date }}</td>
                                    <td width="200">
                                        <button type="button" class="btn btn-warning" routerLink="/post/new" [queryParams]="{id:data.id}">Edit</button>
                                        <button class="btn btn-danger m-2" (click)="deletePost(data.postImgPath,data.id)">Delete</button>

                                        <!-- Feature Buttons -->
                                        <button *ngIf="!data.isFeatured" class="btn btn-success m-2" (click)="markFeatured(data.id,true)">Mark Featured</button>
                                        <button *ngIf="data.isFeatured" class="btn btn-secondary m-2" (click)="markFeatured(data.id,false)">Remove Featured</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>